<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ffm.saas.smarterp.system.persistence.dao.SysRoleTypeDao">
  <resultMap id="BaseResultMap" type="org.ffm.saas.smarterp.system.persistence.model.SysRoleTypePo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_TYPE_CODE" jdbcType="VARCHAR" property="roleTypeCode" />
    <result column="ROLE_TYPE_NAME" jdbcType="VARCHAR" property="roleTypeName" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="SORT_INDEX" jdbcType="INTEGER" property="sortIndex" />
    <result column="SAAS_CODE" jdbcType="VARCHAR" property="saasCode" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ROLE_TYPE_GROUP" jdbcType="VARCHAR" property="roleTypeGroup" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_TYPE_CODE, ROLE_TYPE_NAME, STATUS, REMARK, SORT_INDEX, SAAS_CODE, CREATE_BY, 
    CREATE_TIME, UPDATE_BY, UPDATE_TIME, ROLE_TYPE_GROUP
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ROLE_TYPE_CODE, ROLE_TYPE_NAME, STATUS, REMARK, SORT_INDEX, SAAS_CODE, 
    CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, ROLE_TYPE_GROUP
    from t_sys_roletype
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_roletype
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_roletype
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ffm.saas.smarterp.system.persistence.model.SysRoleTypePo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_roletype (ROLE_TYPE_CODE, ROLE_TYPE_NAME, STATUS, 
      REMARK, SORT_INDEX, SAAS_CODE, 
      CREATE_BY, CREATE_TIME, UPDATE_BY, 
      UPDATE_TIME, ROLE_TYPE_GROUP)
    values (#{roleTypeCode,jdbcType=VARCHAR}, #{roleTypeName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{sortIndex,jdbcType=INTEGER}, #{saasCode,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{roleTypeGroup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ffm.saas.smarterp.system.persistence.model.SysRoleTypePo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_roletype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleTypeCode != null">
        ROLE_TYPE_CODE,
      </if>
      <if test="roleTypeName != null">
        ROLE_TYPE_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="sortIndex != null">
        SORT_INDEX,
      </if>
      <if test="saasCode != null">
        SAAS_CODE,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="roleTypeGroup != null">
        ROLE_TYPE_GROUP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleTypeCode != null">
        #{roleTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="roleTypeName != null">
        #{roleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="saasCode != null">
        #{saasCode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleTypeGroup != null">
        #{roleTypeGroup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ffm.saas.smarterp.system.persistence.model.SysRoleTypePo">
    update t_sys_roletype
    <set>
      <if test="roleTypeCode != null">
        ROLE_TYPE_CODE = #{roleTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="roleTypeName != null">
        ROLE_TYPE_NAME = #{roleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        SORT_INDEX = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="saasCode != null">
        SAAS_CODE = #{saasCode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleTypeGroup != null">
        ROLE_TYPE_GROUP = #{roleTypeGroup,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ffm.saas.smarterp.system.persistence.model.SysRoleTypePo">
    update t_sys_roletype
    set ROLE_TYPE_CODE = #{roleTypeCode,jdbcType=VARCHAR},
      ROLE_TYPE_NAME = #{roleTypeName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      SORT_INDEX = #{sortIndex,jdbcType=INTEGER},
      SAAS_CODE = #{saasCode,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ROLE_TYPE_GROUP = #{roleTypeGroup,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>